/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* User added Styles */


#nav_bg{
	background: url("../img/nav_01.png") no-repeat scroll center bottom rgba(0,0,0,0);

	height: 158px;
	width: 100%;
	left:-10px;
	top: 3;
  position: absolute;
	z-index: 1000;
}

#nav_bg_back{
  background: transparent; no-repeat scroll center bottom rgba(0,0,0,0);
  background-color: #fff;
  height: 67px;
  width: 100%;
  left:0;
  top: 3;
  position: fixed;
  position: absolute;
  z-index: 999;
}

#invite{
	clear: both;
  font-family: Bitter,Georgia,serif;
   line-height: 1.3;
	background-color: rgba(0,0,0,0.4);
	display: block;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: auto;
	border-radius: 3px;
  padding: 20px 5px;

}

#invite p{
	font-size: 28px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: .05em;
	color: #fff;

  text-shadow: black 0.1em 0.1em 0.2em ;
	margin: 8px 13px;
	display: block;
	text-align: center;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  font-family:  Georgia, serif;
  font-family: "Palatino Linotype", "Palatino LT STD", Georgia, serif;

}	

#invite p a{
  color: inherit;
  text-decoration: none;
  transition: color 1s, text-shadow 0.5s;
-webkit-transition: color 1s, text-shadow 0.5s;

  text-decoration: none;
  position: relative;
  transition: all .3s;
-webkit-transition:  all .3s;
}

#invite p a:hover{
  color: #FF8C00;
  text-shadow: 0.5px 0.5px #FF8C00;

}

#invite p a:after, #invite p a:before {
  transition: all .3s; /* Once again, vendor prefixes required. */
}

.underline {
  overflow: hidden;
  display: inline-block;
  margin-bottom: -14px; /* Value depends on your design. Fix the awkward space from overflow:hidden. */
}

.underline:before {
  content: "";
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FF8C00;
}
.underline:hover:before {
  left: 0;
}

.highlight{
	color: #f2797f;
	font-style: normal;
	font-weight: bold;
}

.contrast{
	background-color: #f2797f;
	width: 100%;
	display: block;
}


	
.bg_img{
	background: url("../img/bg_01.jpg") no-repeat center center fixed;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	width: 100%;
	height: 620px;

}

.bottom_section{
	display: table;
	width: 960px;
	margin: 0 auto;
  padding: 40px 60px;


  border-left-color: rgba(255,255,255,0.5);
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: rgba(255,255,255,0.5);
  border-right-width: 1px;
  border-right-style: solid;
  border-bottom-color: rgba(255,255,255,0.5);
  border-bottom-width: 1px;
  border-bottom-style: solid;

}



.sub_head{

  font-family: verdana, 'Lobster', cursive;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  font-size: 48px;
  font-weight: bolder;
  color: #F7B2AA;

  letter-spacing: normal;
  line-height: 1.5em;

  width: 960px;
  margin: 200px auto 0;
  padding: 0 60px;
  text-align: center;
  vertical-align: middle;

  background-color: transparent;
  color: #DC6526;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);

    border-radius: 0 0 3px 3px;
/*
  border: 1px solid rgba(255,255,255,0.7);
  border-bottom: none;

  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-color: transparent;
*/

}




.event_cntnr{
	width: 100% !important;
	height: 300px;
	display: table-row;
	margin-bottom: 10px;
	color: #97372B; 
}

.event_cntnr h4{
  font-family: 'Bree Serif', serif;
	font-size: 32px;
}
.loc_dtl{
	width: 400px;
	height: 200px;
	display: table-cell;
	vertical-align: middle;
}
.loc_dtl h4{
	font-size: 24px;
	line-height: 1em;
	border: 1px solid pink;
	display: table-row;

}

.loc_dtl  p{
	line-height: 1.5em;
	font-family: verdana, 'Open Sans', serif;
	font-size: 16px;
}

.loc_dtl p.dtime{
	font-family: 'Share Tech', sans-serif;
	font-size: 18px;
}



.vertical_bar{
	min-width: 1px !important;
	width: 1px !important;

	border-left: 2px solid #F7B2AA;
	border-left: 2px dashed #ECA295;

	display: table-cell;
}


#map_canvas{
	width: 526px;
	height: 200px;
	margin-left: 30px;
	border: 3px solid #fff;
	margin-top: 30px;
	margin-bottom: auto;
	border: 1px solid #000;
	border: 1px solid #AF7D76;
  border: 4px solid #97372B;
  border: 1px solid rgba(99,99,99,0.5);
  border-radius: 3px;
/*
	border-radius: 2px;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
*/
}

#map_canvas  a:link, #map_canvas a:visited{
	text-decoration: none;
  color: #999;
}

#map_canvas  a:hover{
	text-decoration: underline;
  color: blue;
}

/*

#map_canvas iframe{
	opacity: 0.7;
	-webkit-transition:opacity 0.7s ease-in;
	-moz-transition:opacity 0.7s ease-in;
	-o-transition:opacity 0.7s ease-in;
	transition:opacity 0.7s ease-in;
}

#map_canvas iframe:hover{
	opacity: 1;
}
*/

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}


#basic_map{
	width: 526px;
	height: 185px;
}



.last_blk{
  background: url("../img/last_blk_01.jpg") no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;





  width: 100%;
  height: 100%;
  padding-bottom: 200px;

 
  position: relative;
}

.bt{
  font-size: 48px;
  font-family: "freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em ;
  
}

.fb_wrap{
    display: block;
    position: relative;
    z-index: 99999;
    top: 150px;
    left: 100px;

}
